{% extends "main2.html" %}
{% block title %} QUESTION {% endblock %}
{% block style %}
{% endblock %}
{% block body %}
    <div class="container">
        {% if data %}
        {% for i in data%}
        <form action="/question/update/{{id}}/{{i.id}}/" method="post">
            {% csrf_token %}
            <label class="form-label">{{i.question}}</label>
            <textarea class="form-control" name="text"></textarea>
            <label class="form-group">Answer</label>
            <div class="form-text">{{i.answer}}</div>
            <div class="form-group">
                <input typr="text" name="answer" maxlength="120" class="form-control">
            </div>
            <label class="form-group">Option2</label>
            <div class="form-text">{{i.option2}}</div>
            <div class="form-group">
                <input typr="text" name="option2" maxlength="120" class="form-control">
            </div>
            <label class="form-group">Option3</label>
            <div class="form-text">{{i.option3}}</div>
            <div class="form-group">
                <input typr="text" name="option3" maxlength="120" class="form-control">
            </div>
            <label class="form-group">Option4</label>
            <div class="form-text">{{i.option4}}</div>
            <div class="form-group">
                <input typr="text" name="option4" maxlength="120" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary btn-sm mt-2">Submit</button>
        </form>
        {% endfor %}
        {% else %}
      <h5 class="text-center mt-5 ">No Questions To Update</h5>
      {% endif %}

    </div>

    {% endblock %}